# Ignore JetBrains IDE project files
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.qodo/
# Virtual environments
venv/
env/

# Environments and secrets
.env

# SQLite DB for local development
db.sqlite3

# VS Code settings
.vscode/
db.sqlite3
